.Link {
    text-decoration: none;
}


.Top-Nav {
    display:flex;
    width: 450px;
    margin-right: 20px;
    justify-content: space-evenly;
    align-items:center;
}

.Bottom-Nav {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.Hamburger {
    margin-right:10px;
}

@media screen and (max-width:599px){
    .Top-Nav {
        display:none;
    }
    
    .Bottom-Nav {
        display:none;
        height:0px;
    }
}


@media screen and (min-width:600px){
    .Hamburger {
        display:none;
    }
}

.DrawerOpen {
    animation:open 1s;
    transition-timing-function: ease-in-out; 
    transition: transform 1s;
    
}

.DrawerClose {
    animation:close 1s;
    transition-timing-function: ease-in-out
}

.SearchOpen {
    animation:searchOpen 3s;
    transition-timing-function: ease-out;
}

.SearchClose {
    animation:searchClose 1s;
    transition-timing-function: ease-in-out;
}

@keyframes open {
    from {
        height:0px;
    } 
    to {
        height:300px;
    }
}
@keyframes close {
    from {
        height:300px;
    } 
    to {
        height:0px;
    }
}

@keyframes searchOpen {
    0% {
        width:0px;
    }
    25% {
        width:60px;
    }
    50% {
        width:120px;
    }
    75% {
        width:180px;
    }
    100% {
        width:240px;
    }
}

@keyframes searchClose {
    from {
        width:240px;
    }
    to {
        width:0px;
    }
}

.Grow:hover {
    transform: scale(1.05);
    opacity: 0.4;
}

.Grow2:hover {
    transform: scale(1.1);
    color:red;
}


.Grow3:hover {
    transform: scale(1.15);
    color:red;
}

.Zoom:hover {
    transform:scale(1.5);
    z-index:1;
    top:200px;
    left:130px;
    position:absolute;
}


/* .Zoom-Small:hover {
    transform:scale(1.8);
} */